.main {
  &__container {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("/imgs/bottom-background.jpg");
    background-size: contain;
    background-position: center;

    position: relative;
  }

  &__h2 {
    font-size: 3rem;
  }

  &__text-container {
    width: 100rem;
    height: 25rem;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 500;
    background-color: #f8f8f8;
    border-radius: 10px;
    letter-spacing: -3px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    justify-content: center;
    align-items: flex-start;

    padding: 1rem 5rem;
    margin-bottom: 3rem;
  }

  &__quotes-icon {
    position: absolute;
    top: -4rem;
    right: -4rem;
    font-size: 6rem;
    background-color: #b3e5fc;
    border-radius: 1000px;
    padding: 1.3rem 2rem;
  }

  &__user-input {
    width: 80rem;
    height: 25rem;
    border: none;
    border-radius: 10px;
    font-size: 2.4rem;
    text-align: center;
    background-color: #f8f8f8;
    //para q no se vea
    position: absolute;
    opacity: 0;
    z-index: -5;

    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  &__stats-container {
    font-size: 2.4rem;
    width: 80rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 3rem;
  }

  &__start-text {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 4rem;

    animation: start-text 1.5s infinite;
  }

  &__btns-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2.4rem;
  }

  &__btn {
    font-size: 2.4rem;
    width: 25rem;
    color: white;
    border: none;
    border-radius: 1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    padding: 1.2rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &--start {
      background-color: #0288d1;
      animation: slide-left 1s;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#0288d1, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    &--another {
      background-color: #0288d1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      animation: slide-right 1s;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#0288d1, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    &--menu {
      background-color: #ff9800;
      text-decoration: none;
      text-align: center;
      animation: slide-up 1s;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#ff9800, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
  }

  &__popup {
    &-container {
      position: absolute;
      height: 40rem;
      width: 35rem;
      background-color: #b3e5fc;
      color: black;
      border-radius: 10px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      z-index: 23;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      pointer-events: none;
      visibility: hidden;
    }

    &-text {
      font-size: 3rem;
      font-weight: 600;
    }

    &-xmark {
      position: absolute;
      top: -1.5rem;
      right: -1.5rem;
      font-size: 2.6rem;
      color: black;
      background-color: #ff9800;
      border-radius: 1000px;

      padding: 0.7rem 1.1rem;

      &:hover {
        cursor: pointer;
        background-color: darken(#ff9800, 15%);
      }
    }
  }
}

.letter-border {
  padding-right: 3px;
  animation: focus-letter 0.9s infinite;
}

.first-letter-border {
  padding-left: 3px;
  animation: focus-first-letter 0.9s infinite;
}

.appear {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
